@* @model System.Collections.Generic.List<Ex1.Models.Disciplinas> *@
@model List<Disciplinas>

@{
    ViewBag.Title = "Lista de UCs";
    Layout = "_Layout";
}

<h2>Lista de UCs</h2>

@Html.ActionLink("Criar Nova UC", "Create", "UCs", new Disciplinas() )

@if (Model.Any())
{
    <table>
        <tr>
            <th>Curso</th>
            <th>Nome da Disciplina</th>
            <th>ETCS</th>
            <th>Semestre</th>
            <th>Opções</th>
        </tr>

        @foreach (var uc in Model)
        {
            <tr>
                <th>@uc.Curso</th>
                <th>@uc.Nome</th>
                <th>@uc.ECTS</th>
                <th>@uc.Semestre</th>
                <th>@Html.ActionLink("Detalhes", "Detalhes", "UCs", new {uc.id}, null) | \
                    @Html.ActionLink("Remover", "Apagar", "UCs", new {uc.id}, null) | \
                    @Html.ActionLink("Modificar", "Edit", "UCs", new {uc.id}, null) </th>
            </tr>
        }
    </table>
}
else
{
    <div>
        <p>Não existem Unidades Corriculares, por favor adicione uma.</p>
    </div>
}